* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', serif;
}

h1 {
  text-align: center;
}

section {
  width: 100vw;
  max-width: 400px;
  background-color: #eaedf1;
  border-radius: 0.5rem;
  box-shadow: 0 8px 24px -16px rgba(0, 0, 0, 0.5);
  margin: 1.5rem auto;
  max-width: 25rem;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 1.5rem 0 0.5rem 0;

}

input {
  border: 0;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.5rem;
}

input:hover {
  filter: brightness(0.98);
  transition: 0.15s;
}

span {
  color: #f64348;
  font-size: 0.75rem;
  margin: 0.25rem;
}

button {
  color: #eaedf1;
  background-color: #43a5f6;
  border: 0;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.5rem 0;
  margin-top: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.1);
  transition: 0.1s;
}

.error {
  border: 1px solid #f64348;
}
.success {
  border: 1px solid #43f67f;
}

@media (max-width: 600px) {
  section {
    width: 80%;
  }
}
